*,*::before,*::after{
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 0;
  margin: 0;
}

/*Temp transition style*/
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1B1A17;
  transform-origin: left; 
  animation: slideOut 1s forwards; 
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1B1A17;
  transform-origin: left; 
  animation: slideOut 1s forwards; 
}

@keyframes slideOut {
  100% {
    transform: translateX(100%); 
  }
}
